/*Ribbon Styles for top divider*/
/*Service Page Styles*/
/*About Page Styles*/
body {
  font-family: "Montserrat", sans-serif !important; }

h1 {
  font-family: "Bitter", serif !important; }

h2 {
  font-family: "Bitter", serif !important; }

h3 {
  font-family: "Bitter", serif !important; }

h4 {
  font-family: "Bitter", serif !important; }

h5 {
  font-family: "Bitter", serif !important; }

a:link {
  color: #f34949; }

a:visited {
  color: #f34949; }

a:hover {
  text-decoration: none !important;
  color: #ec4848 !important; }

.navbar-collapse {
  padding: 25px 0;
  margin-top: 125px; }
  .navbar-collapse li {
    padding-right: 50px; }
    .navbar-collapse li:last-of-type {
      padding-right: 0; }
  .navbar-collapse a:hover {
    color: #f34949 !important; }

.hero {
  background: url(../imgs/bg.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 500px;
  padding: 250px 0;
  color: #fff;
  margin-top: 50px; }

.divider {
  border-top: 3px solid #f34949;
  padding: 0 0 100px 0; }

.ribbon {
  font-family: "Bitter", serif !important;
  background: #f34949;
  height: 87px;
  margin: 0 auto;
  position: relative;
  width: 145px;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
  font-size: 30px;
  color: #f2f2f2; }
  .ribbon:after {
    content: '';
    position: absolute;
    border-top: 20px solid #f34949;
    height: 0;
    width: 0;
    top: 100%;
    border-left: 75px solid transparent;
    right: 0px; }
  .ribbon:before {
    content: '';
    position: absolute;
    border-top: 20px solid #f34949;
    height: 0;
    width: 0;
    top: 100%;
    border-right: 75px solid transparent;
    left: 0px; }

.services p {
  margin-bottom: 50px; }

h2.fancy {
  overflow: hidden; }
  h2.fancy:after {
    background-color: #cdcdcd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    left: 0.5em;
    margin-right: -50%; }

.about {
  background: #f1f1f1;
  padding: 100px 0;
  font-size: 20px;
  line-height: 2;
  width: 100%;
  margin: 100px 0; }
  .about p {
    text-align: center;
    padding-top: 25px; }

.portfolio h2 {
  padding-bottom: 50px; }

.portfolio-item {
  position: relative;
  overflow: hidden; }
  .portfolio-item:hover .caption {
    bottom: 0;
    transition: all 0.3s ease-in-out; }

.caption {
  background-color: rgba(243, 73, 73, 0.8);
  height: 100%;
  bottom: -800px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  color: white;
  font-size: 35px; }

.view-more {
  padding: 15px 10px;
  border: 1px solid #cdcdcd;
  width: 100px;
  margin: 15px auto;
  font-size: 10px; }
  .view-more a:link {
    text-decoration: none;
    color: #3b3b3b; }
  .view-more a:visited {
    text-decoration: none;
    color: #3b3b3b; }
  .view-more:hover {
    background: #f1f1f1; }
  .view-more .fa-plus {
    font-size: 12px;
    color: #f34949;
    padding-left: 5px; }

.social-icon {
  color: white;
  background-color: #f34949;
  padding: 10px 15px;
  width: 25px;
  height: 25px; }

.fa-arrow-right {
  padding-left: 10px; }

.footer {
  background-color: #3b3b3b;
  width: 100%;
  color: white;
  padding: 100px 0;
  margin-top: 100px;
  font-size: 20px;
  text-align: center; }
  .footer ul {
    list-style-type: none;
    text-align: center;
    margin: 0 0 25px 0;
    padding: 25px 0 0 0; }
  .footer .form-row {
    margin-top: 50px; }
    .footer .form-row:last-of-type {
      margin-top: 25px; }

#message {
  padding-bottom: 100px; }

footer.credit {
  width: 100%;
  background: #f34949;
  padding: 15px 0;
  text-align: center;
  color: white; }

.title {
  background: #f1f1f1;
  width: 100%;
  padding: 50px;
  border-top: 1px solid #d1d1d1; }

.quote {
  background-color: #f1f1f1;
  text-align: center; }
  .quote ul {
    list-style-type: none;
    padding-top: 25px; }
  .quote .fa-quote-left {
    color: #f34949;
    font-size: 30px;
    display: block; }
