$color_1: #f34949;
$color_2: #ec4848;
$color_3: #fff;
$color_4: #f2f2f2;
$color_5: white;
$color_6: #3b3b3b;
$font_family_1: 'Montserrat', sans-serif;
$font_family_2: 'Bitter', serif;
$background_color_1: #cdcdcd;
$background_color_2: rgba(243, 73, 73, 0.8);
$background_color_3: #f34949;
$background_color_4: #3b3b3b;
$background_color_5: #f1f1f1;

/*Ribbon Styles for top divider*/
/*Service Page Styles*/
/*About Page Styles*/
body {
	font-family: $font_family_1 !important;
}
h1 {
	font-family: $font_family_2 !important;
}
h2 {
	font-family: $font_family_2 !important;
}
h3 {
	font-family: $font_family_2 !important;
}
h4 {
	font-family: $font_family_2 !important;
}
h5 {
	font-family: $font_family_2 !important;
}
a {
	&:link {
		color: $color_1;
	}
	&:visited {
		color: $color_1;
	}
	&:hover {
		text-decoration: none !important;
		color: $color_2 !important;
	}
}
.navbar-collapse {
	padding: 25px 0;
	margin-top: 125px;
	li {
		padding-right: 50px;
		&:last-of-type {
			padding-right: 0;
		}
	}
	a {
		&:hover {
			color: $color_1 !important;
		}
	}
}
.hero {
	background: url(../imgs/bg.jpg) no-repeat left center fixed; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-height: 500px;
	padding: 250px 0;
	color: $color_3;
	margin-top: 50px;
}
.divider {
	border-top: 3px solid #f34949;
	padding: 0 0 100px 0;
}
.ribbon {
	font-family: $font_family_2 !important;
	background: #f34949;
	height: 87px;
	margin: 0 auto;
	position: relative;
	width: 145px;
	text-align: center;
	vertical-align: middle;
	line-height: 87px;
	font-size: 30px;
	color: $color_4;
	&:after {
		content: '';
		position: absolute;
		border-top: 20px solid #f34949;
		height: 0;
		width: 0;
		top: 100%;
		border-left: 75px solid transparent;
		right: 0px;
	}
	&:before {
		content: '';
		position: absolute;
		border-top: 20px solid #f34949;
		height: 0;
		width: 0;
		top: 100%;
		border-right: 75px solid transparent;
		left: 0px;
	}
}
.services {
	p {
		margin-bottom: 50px;
	}
}
h2.fancy {
	overflow: hidden;
	&:after {
		background-color: $background_color_1;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
		left: 0.5em;
		margin-right: -50%;
	}
}
.about {
	background: #f1f1f1;
	padding: 100px 0;
	font-size: 20px;
	line-height: 2;
	width: 100%;
	margin: 100px 0;
	p {
		text-align: center;
		padding-top: 25px;
	}
}
.portfolio {
	h2 {
		padding-bottom: 50px;
	}
}
.portfolio-item {
	position: relative;
	overflow: hidden;
	&:hover {
		.caption {
			bottom: 0;
			transition: all 0.3s ease-in-out;
		}
	}
}
.caption {
	background-color: $background_color_2;
	height: 100%;
	bottom: -800px;
	position: absolute;
	width: 100%;
	max-width: 100%;
	color: $color_5;
	font-size: 35px;
}
.view-more {
	padding: 15px 10px;
	border: 1px solid #cdcdcd;
	width: 100px;
	margin: 15px auto;
	font-size: 10px;
	a {
		&:link {
			text-decoration: none;
			color: $color_6;
		}
		&:visited {
			text-decoration: none;
			color: $color_6;
		}
	}
	&:hover {
		background: #f1f1f1;
	}
	.fa-plus {
		font-size: 12px;
		color: $color_1;
		padding-left: 5px;
	}
}
.social-icon {
	color: $color_5;
	background-color: $background_color_3;
	padding: 10px 15px;
	width: 25px;
	height: 25px;
}
.fa-arrow-right {
	padding-left: 10px;
}
.footer {
	background-color: $background_color_4;
	width: 100%;
	color: $color_5;
	padding: 100px 0;
	margin-top: 100px;
	font-size: 20px;
	text-align: center;
	ul {
		list-style-type: none;
		text-align: center;
		margin: 0 0 25px 0;
		padding: 25px 0 0 0;
	}
	.form-row {
		margin-top: 50px;
		&:last-of-type {
			margin-top: 25px;
		}
	}
}
#message {
	padding-bottom: 100px;
}
footer.credit {
	width: 100%;
	background: #f34949;
	padding: 15px 0;
	text-align: center;
	color: $color_5;
}
.title {
	background: #f1f1f1;
	width: 100%;
	padding: 50px;
	border-top: 1px solid #d1d1d1;
}
.quote {
	background-color: $background_color_5;
	text-align: center;
	ul {
		list-style-type: none;
		padding-top: 25px;
	}
	.fa-quote-left {
		color: $color_1;
		font-size: 30px;
		display: block;
	}
}
